.categoriesWrap {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 6px;
}
.category {
  color: var(--light-text-tetriary, #97979b);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 8px 12px;
}
.category:hover {
  cursor: pointer;
}
.active {
  padding: 8px 12px;
  color: #050510;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  border-bottom: 2px solid #6534ff;
}
.active:hover {
  cursor: pointer;
}
